@font-face {
    font-family: Inter;
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
  }
:root {
    --bg-biru: #D6E6FF;
    --bg-pink: #FDE2FF;
    --bg-unavail: #DCDCDC;
    --text-abu: #3F3F3F;
    --biru: #002772;
    --ungu: #720060;
    --hitam: #1E1E1E;
    --putih: #FFFFFF;
    font-family: Inter, sans-serif;
}
.loading-screen {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    position: relative;
    border: 3px solid var(--text-abu);
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 750ms linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: var(--text-abu);
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
  }
  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }
.loader-text {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.background {
    height: 36rem;
    background-color: var(--bg-unavail);
    z-index: -1;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}
.card {
    position: relative;
    width: 64.625rem;
    height: 36.25rem;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 3.5rem;
    box-shadow: 0 4px 4px 0 #00000040;
}
.unavailable {
    position: relative;
    width: 64.625rem;
    height: 36.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.unavailable > img {
    z-index: 0;
    padding: 0 auto;
    max-width: 1000px !important;
    margin-top: 20px;
}
.unavailable-text {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.unavailable-text{
    font-size: 20px;
    color: var(--hitam);
    text-align: center;
    font-weight: 400;
}
.unavailable-text > button {
    font-weight: 600;
    margin-top: 13px;
    font-size: 20px;
    width: 465px;
    height: 42px;
    color: var(--text-abu);
    border: 3px solid var(--hitam);
    background-color: transparent;
}
.unavailable-text > button:hover {
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}
.unavailable-text > button:active{
    scale: 0.9;
}
.available {
    display: flex;
    align-items: center;
    width: inherit;
}
.available > img {
    width: 306px !important;
    margin: 0 40px;
}
.detail-produk{
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 36rem;
}
.nama-produk{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 28px;
}
.spek{
    color: var(--text-abu);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    font-weight: 400;
    font-size: 18px;
}
.rating{
    display: flex;
    gap: 0.5rem;
}
.rating-wrapper{
    display: flex;
    margin: auto 0;
}
.rating-circle, .rating-circle-blank {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--text-abu);
}
.rating-circle-number {
    margin-right: 2px;
}
.garis {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1px;
    margin-bottom: 1.5rem;
    width: 36rem;
}
.deskripsi-produk{
    color: var(--hitam);
    font-size: 20px;
    font-weight: 400;
    overflow-y: scroll;
    height: 11.5rem;
}
.deskripsi-produk::-webkit-scrollbar{
    width: 0.2rem;
}
.deskripsi-produk::-webkit-scrollbar-thumb{
    background-color: var(--text-abu);
    border-radius: 10px;
}
.transaksi {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    width: 36rem;
}
.transaksi > .garis {
    margin-bottom: 1rem;
}
.harga{
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 28px;
}
.tombol {
    display: flex;
    gap: 1rem;
}
.kotak-tombol{
    width: 16.25rem;
    height: 3rem;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.kotak-tombol:active {
    scale: 0.9;
}
.kotak-tombol.next {
    background-color: transparent;
}
.kotak-tombol.buy-now{
    color: var(--putih);
}
.background.blue {
    background-color: var(--bg-biru);
}
.background.pink {
    background-color: var(--bg-pink);
}
.harga.pink, .next.pink, .nama-produk.pink {
    color: var(--ungu); 
}
.harga.blue, .next.blue, .nama-produk.blue {
    color: var(--biru);
}
.buy-now.pink, .rating-circle.pink {
    background-color: var(--ungu);
}
.buy-now.blue, .rating-circle.blue {
    background-color: var(--biru);
}
.rating-circle.blue {
    border: 1px solid var(--biru) !important;
}
.rating-circle.pink {
    border: 1px solid var(--ungu) !important;
}
.rating-circle-blank.pink {
    background-color: transparent;
    border: 1px solid var(--ungu);
}
.rating-circle-blank.blue {
    background-color: transparent;
    border: 1px solid var(--biru);
}
.next.pink, .buy-now.pink {
    border: 3px solid var(--ungu) ;
}
.next.blue, .buy-now.blue {
    border: 3px solid var(--biru);
}